.documentation-container {
    max-width: 800px;
    margin: 1rem auto;
    padding: 20px;
    font-family: Arial, sans-serif;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  h1, h2, h3, h4 {
    color: #fafafa;
  }
  
  ul, ol {
    margin-left: 20px;
  }
  
  code {
    background-color: #e7e7e7;
    padding: 2px 4px;
    border-radius: 4px;
    color: black;
  }
  